*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    background-color: rgb(200, 200, 200);
}

nav {
    background-color: #fff;
    height: 8vh;
    display: flex;
    box-shadow: 0px 0px 15px rgb(50, 50, 50);
}

nav div {
    display: flex;
    align-items: center;
}

.nav-left {
    flex: 50%;
    padding-left: 90px;
}

.nav-left a img {
    width: 45px;
}

.nav-left ul {
    list-style: none;
    margin-left: 40px;
}

.nav-left ul li {
    display: inline-block;
    padding-right: 12px;
    position: relative;
}

.nav-left ul li a {
    color:rgb(50, 50, 50);
    text-decoration: none;
}

.nav-left ul li a.active {
    color: rgb(255, 70, 70);
    font-weight: 700;
}

.nav-left ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(50, 50, 50);
    display: block;
    transition: 0.15s;
}

.nav-left ul li:hover::after{
    width: 100%;
}

.nav-right {
    flex: 50%;
    justify-content: flex-end;
    padding-right: 90px;
}

.nav-right a {
    text-decoration: none;
    color: white;
    background-color: rgb(50, 50, 50);
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.15s;
}

.nav-right a:hover {
    transition: 0.15s;
    box-shadow: 0px 0px 10px rgb(50, 50, 50);
}

.container {
    width: 50%;
    margin: auto;
    padding: 60px 60px;
    box-sizing: border-box;
}

.gettouch {
    text-align: center;
}

 form {
    display: contents;
 }

.container div {
    margin-bottom:20px ;
}

.container div label {
    color:rgb(50, 50, 50);
    font-size: 20px;
    font-weight: 700;
}

.container div input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: #f3f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 5px;
}

.container div select {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: #f3f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 5px;
}

.container div textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: #f3f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    margin-top: 5px;
    resize: none;
    height: 100px;
}

.container button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.15s;
    float: right;
}

.container button:hover {
    transition: 0.15s;
    background-color: #fff;
}




/* UNTUK INDEX */
.container-index {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(79, 79, 79);
    height: 69vh;
    width: 170vh;
    padding: 15px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.card-left{
    flex: 60%;
    padding: 20px;
    padding-top: 50px;
    text-align: justify;
}

.card-right{
    flex: 30%;
    padding-left: 20px;
    text-align: justify;
}

.card-contact button{
    background-color: black;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 15px;
}

.download{
    display: inline-block;
}

.card-contact{
    margin-top: 40px;
}

.download a, .card-contact button a{
    text-decoration: none;
    color: #000000;
    
}

.card-contact button a{
    color: white;
}

.icons{
    margin-top: 80px;
}

.icons a{
    text-decoration: none;
    color: #000000;
    padding: 10px 10px;
    font-size: 20px;
}


/* kanan */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    transition: 0.3s;
    margin: 20px 25px;
    border-radius: 20px;
  }
.card img {
    border-radius: 10px 10px 0px 0px;
}
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .cardIn {
    padding: 2px 16px;
    margin: auto;
    background-color: rgb(246, 240, 231);
    text-align: center;
  }

  .icon{
    text-align: center;
    font-size: 40px;
  }